Options -Indexes -ExecCGI
<FilesMatch "(?i)\.(php[0-9]?|phtml|phar|cgi|pl|sh|html?|shtml)$">
  Require all denied
</FilesMatch>
<FilesMatch "(?i)\.(mp4|webm|ogv|mov)$">
  SetHandler default-handler
</FilesMatch>
AddType video/mp4 .mp4
AddType video/webm .webm
AddType video/ogg .ogv
AddType video/quicktime .mov
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>
